setuptools>=70.0.0
wheel>=0.44.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1
numpy>=1.24.3
Flask==3.0.0
Flask-CORS==4.0.0
sentence-transformers==2.7.0
mistralai==1.9.11
python-dotenv==1.0.0
gunicorn==21.2.0
scipy==1.11.4
